form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 18px;
  margin: 2em 0;
}
select {
  font-size: 16px;
  width: 25%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  padding: 2em;
  position:fixed;
  background: rgb(203, 204, 224);
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 18px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.addOrEditBtn {
  padding: 1em 2em;
  border-radius: 5px;
}